<div class="lr">
  <img src="http://simg1.qunarzz.com/site/images/zhuanti/huodong/lr.jpg">
  <div class="link-box">
  	<span class="btn">进入问卷</span>
  	<span class="text">放弃返现，直接下单</span>
  </div>
  <dl>
  	<dt>活动时间：</dt>
  	<dd>2016年8月1日至2016年8月31日；</dd>
  </dl>
  <dl>
  	<dt>赢取30元返现，您需满足以下条件：</dt>
  	<dd>1:活动期间内您需完成调查问卷，并于登录状态中在去哪儿客户端预订酒店；<br>
2:您在填写调查问卷时预留的手机号需与下单账户的手机号相同；<br>
3:您的入住至离店时间需在活动期间内； </dd>
  </dl>
  <dl>
  	<dt>返现发放：</dt>
  	<dd>此返现为现金返现，且此活动不影响现有优惠；此返现可在去哪儿网酒店、机票、度假、车车等频道使用，也可以提现至银行卡；</dd>
  </dl>
  <dl>
  	<dt>活动声明：</dt>
  	<dd>在参加活动过程中，如果出现作弊行为（如批量注册、恶意购买、虚假交易等），去哪儿网将自动取消您本次活动资格，必要时将追究法律责任。</dd>
  </dl>
</div>