#if($!commonParam.isLogin)
<ul class="qt-grid qt-center qt-bb-x1 condition-select">
    <li class="all-order #if( $!req.statusType == 0 ) active #end " data-value="0"><span>全部</span></li>
    <li class="valid-order #if( $!req.statusType == 1 ) active #end " data-value="1"><span>有效单</span></li>
    <li class="nopay-order #if( $!req.statusType == 2 ) active #end " data-value="2"><span>待支付</span></li>
    <li class="refund-order #if( $!req.statusType == 3 ) active #end " data-value="3"><span>退款单</span></li>
</ul>
<div class="line"></div>
#end