##<!--标题、变量定义-->
#set( $g_title = '去哪儿&belif品牌携手送好礼' )

##<!--样式模块定义-->
#define ( $style )
<link rel="stylesheet" href="/pages/activity/belif/main.css"/>
#end

##<!--头部模块定义-->
##define ( $header )
##end

##<!--副头部模块定义-->
##define ( $subHeader )
##end

##<!--主内容模块定义-->
#define ( $body )
#parse('pages/activity/belif/vm/body.vm')
#end

##<!--尾部模块定义-->
##define ( $footer )
##end

##<!--脚本模块定义-->
#define ( $script )
<script>
    (function (doc, win) {
        var docEl = doc.documentElement;
        docEl.style.fontSize = docEl.clientWidth / 7.5 + 'px';
    })(document, window);
</script>
<script src="/pages/activity/belif/main.js"></script>
#end

##<!--渲染页面-->
#render($style,$header,$subHeader,$body,$footer,$script)
