##<!--标题、变量定义-->
#set( $g_title = '超值组合' )

##<!--样式模块定义-->
#define ( $style )
<link rel="stylesheet" href="/pages/activity/packproduct/main.css"/>
#end

##<!--头部模块定义-->
#define ( $header )
<nav class="cancel previous qt-blue qt-font14">取消</nav>
<div class="title qt-bb-x1">超值组合</div>
#end

##<!--副头部模块定义-->
##define ( $subHeader )
##end

##<!--主内容模块定义-->
#define ( $body )
##parse('pages/activity/attached/vm/body.vm')
#end

##<!--尾部模块定义-->
#define ( $footer )
#parse('pages/activity/packproduct/vm/footer.vm')
#end

##<!--脚本模块定义-->
#define ( $script )

<!--<script src="http://m.qunar.com/zhuanti/QunarAPI_1.0.16.js"></script>-->
<script src="/pages/activity/packproduct/main.js"></script>
#end

##<!--渲染页面-->
#render($style,$header,$subHeader,$body,$footer,$script)