<div class="bl-body">
  <img class="body-img" src="http://simg1.qunarzz.com/site/images/zhuanti/huodong/belif_new.jpg"/>
  <section class="bl-content">
    <a class="qt-white joininbtn" href="http://www.digitadrive.com/lg/belifChina/home/fillinfo">点击参与</a>
    <section class="showhotel">
      <a class="bl-font16" href="javascript:void(0)">立即查看首尔热卖酒店</a>
      <span class="icon arrow-right bl-font12"></span>
    </section>
    <section class="bl-introduction bl-font14">
      <div class="intro-wrapper">
        <p>活动时间：</p>
        2016.08.01-2016.10.15
      </div>
      <div class="intro-wrapper">
          <p>参与方法：</p>
          1.点击参与后在活动页面填写姓名与电话参与本次【领</br>体验装赢机票】活动。</br>
          2.belif明星产品体验装需到韩国门店领取。
      </div>
      <div class="intro-wrapper">
          <p>活动规则：</p>
          1.每位用户限领1份；</br>
          2.体验装数量有限，赠完即止；</br>
          3.往返机票名额在参与用户中随机抽取，共2名；名单</br>将于2016.10.16日公布并通知用户；</br>
          4.去哪儿网&belif品牌保留在法律许可范围内的解释权。
      </div>
    </section>
  </section>
</div>
