<div class="main">
    <div class="head-img-wrap">
        <img src="http://source.qunar.com/site/images/wap/touch/images/v2/images1x/02bd4a761ddcb09bb4ee17371c7066be.png">

        <div class="content">
            <div class="line">
                <div class="content-part-wrap qt-pr10">
                    <div class="content-part">
                        <div>多邀请,中大奖</div>
                        <div>
                            邀请好友越多，
                            中大奖几率越高！
                            机智如小驼，
                            已在默默翻通讯录呢~
                        </div>
                    </div>
                </div>
                <div class="img-part">
                    <img src="http://source.qunar.com/site/images/wap/touch/images/v2/images1x/baodian-1.png">
                </div>
            </div>
            <div class="line">
                <div class="img-part">
                    <img src="http://source.qunar.com/site/images/wap/touch/images/v2/images1x/baodian-2.png">
                </div>
                <div class="content-part-wrap text-right qt-pl10">
                    <div class="content-part">
                        <div>奖品种类花样多</div>
                        <div>
                            免单大奖&格瓦拉@电影代金券&度假代金券&唯品会代金券&QQ阅读半月会员~拿奖拿到手抽筋！
                        </div>
                    </div>
                </div>

            </div>
            <div class="line">
                <div class="content-part-wrap qt-pr10">
                    <div class="content-part">
                        <div>绑卡领奖励</div>
                        <div>
                            您的账户需绑定银行卡
                            以便发放现金奖励，记得
                            告诉好友激活会员红包，
                            才能帮你获得抽奖机会呦~
                        </div>
                    </div>
                </div>
                <div class="img-part">
                    <img src="http://source.qunar.com/site/images/wap/touch/images/v2/images1x/baodian-3.png">
                </div>
            </div>
            <div class="line">
                <div class="img-part">
                    <img src="http://source.qunar.com/site/images/wap/touch/images/v2/images1x/baodian-4.png">
                </div>
                <div class="content-part-wrap text-right qt-pl10">
                    <div class="content-part">
                        <div>飞机火车任选</div>
                        <div>
                            只要是2016年1月1日-2016年2月22日的飞机票或火车票，已完成的行程订单都在免单范围内！
                        </div>
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="content-part-wrap qt-pr10">
                    <div class="content-part">
                        <div>保留火车票</div>
                        <div>
                            保存好您的火车票，兑奖时需要您将火车票邮寄给小驼，审核通过后，即可发放奖励，可以随时提现哦~
                        </div>
                    </div>
                </div>
                <div class="img-part">
                    <img src="http://source.qunar.com/site/images/wap/touch/images/v2/images1x/baodian-5.png">
                </div>
            </div>
            <div class="line">
                <div class="img-part">
                    <img src="http://source.qunar.com/site/images/wap/touch/images/v2/images1x/baodian-6.png">
                </div>
                <div class="content-part-wrap text-right qt-pl10">
                    <div class="content-part">
                        <div>别让大奖过期</div>
                        <div>
                            免单大奖兑换有效期为2016年3月1日-2016年3月31日。中奖的小伙伴要尽快领取呦~其他的奖励可以随时兑换
                        </div>
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="content-part-wrap qt-pr10">
                    <div class="content-part">
                        <div>纳税最光荣</div>
                        <div>
                            机票免单只能减免您实际支付的金额；另需缴纳20%的个人所得税，余下金额将打入您的去哪儿余额账户中。
                        </div>
                    </div>
                </div>
                <div class="img-part">
                    <img src="http://source.qunar.com/site/images/wap/touch/images/v2/images1x/baodian-5.png">
                </div>
            </div>
        </div>
        <div class="buttons">
            <div class="miandan-wrap">
                <div class="miandan">
                    <div><span>我也要免单</span></div>
                </div>
            </div>
            <div class="fenxiang-wrap">
                <div class="fenxiang">
                    <div><span>分享给好友</span></div>
                </div>
            </div>
        </div>
    </div>
</div>