<!--<div class="qt-center">-->
    <!--<a href="//touch.qunar.com/h5/red/grantred?from=hotelIndex">-->
        <!--<img width="100%" height="44"-->
             <!--src="http://simg1.qunarzz.com/site/images/wap/touch/images/v2/images2x/touch_red_banner2.jpg">-->
    <!--</a>-->
<!--</div>-->